.job-details {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .job-title {
    font-size: 1.25em;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
  }
  
  .company-info,
  .applicants,
  .poster-name,
  .seniority-level,
  .posted-date {
    color: #555;
    margin-bottom: 4px;
  }

  
  
  .job-description {
    margin-top: 12px;
    padding: 12px;
    border-top: 1px solid #ddd;
    color: #333;
    font-size: 0.9em;
  }
  
  .apply-link {
    margin-top: 12px;
    text-align: center;
  }
  
  .apply-link a {
    text-decoration: none;
  }
  
  .apply-link a:hover {
    text-decoration: underline;
  }

  .apply-linkb {
    margin-bottom: 4px;
    text-align: center;
  }
  
  .apply-linkb a {
    text-decoration: none;
  }
  
  .apply-link a:hover {
    text-decoration: underline;
  }

  /* --------------------------- */

/* Job state toggle box styling */
.job-state-toggle {
  width: 50px; /* Box width */
  height: 50px; /* Box height */
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for color change */
  border: 2px solid transparent; /* Border will be transparent until hover */
  border-radius: 5px; /* Rounded corners */
  display: inline-block; /* Make it inline with other elements */
}

/* Color styles based on jobState */
.not-applied {
  background-color: #b0b0b0; /* Grey */
}

.favorite {
  background-color: #FFD700; /* Yellow */
}

.applied {
  background-color: #32CD32; /* Green */
}

/* Optional: Hover effect for better user feedback */
.job-state-toggle:hover {
  border-color: #000; /* Dark border on hover */
}


