/* Center the app and give space for the top bar */
.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh; /* Full viewport height */
  }
  
  /* Layout for main content, with job list and side panel */
  .main-content {
    display: flex;
    flex-grow: 1;
    gap: 0px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 20px); /* 100vh minus any padding or borders */
    
  }

  .app-job-list, .app-side-panel {
    /* max-width: 600px;
    min-width: 400px; */
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .app-job-list {
    max-height: 90vh;
    flex: 2;
  }

  .app-side-panel {
    flex: 3;
    height: 100%; /* Ensures it fills the remaining height */
  }