/* Center the app and give space for the top bar */
.app-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh; /* Full viewport height */
  }
  
  /* Layout for main content, with job list and side panel */
  .main-content {
    display: flex;
    gap: 0px;
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 20px); /* 100vh minus any padding or borders */
    
  }

  .app-job-list, .app-side-panel {
    flex: 1;
    max-width: 600px;
    min-width: 400px;
    box-sizing: border-box;
    overflow-y: auto;

    max-height: 90vh; /* Keep side panel from taking more than 80% of viewport height */
    overflow-y: auto; /* Allows scrolling within the side panel if content is long */
  }
  
