<p style="border-bottom: 1px solid #ddd; padding-bottom: 13px; text-align: center;">Generate Highlights Here</p>

@if (!selectedJob()) {
    <textarea [(ngModel)]="pastedDescription" placeholder="Paste job description here..."></textarea>
} 
    
<div class="button-container">
    <button (click)="generateHighlights()" [disabled]="isLoading()">Generate</button>
</div>
@if (!isLoading()) {
    @if (highlightsForShow() !== '') {
        <p style="margin-top: 15px;">Generated Highlights:</p>
    }
    @for (highlight of highlightsForShow(); track $index) {
        <li style="font-size: 14px;">{{highlight}}</li>
    }
} @else {
    <div class="spinner">Loading...</div>
}